
.air1{
  padding: 50px;
}




.nav1 {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

section {
  padding: 20px;
}

.air {
  display: flex;
  flex-direction: column;
}
.air--photo {
  max-width: 400px;
  align-self: center;
}

.air--header {
  margin-bottom: 16px;
}

.air--text {
  margin-top: 0;
}