



.air1{
  padding: 50px;
}





section {
  padding: 20px;
}

.air {
  display: flex;
  flex-direction: column;
}
.air--photo {
  max-width: 400px;
  align-self: center;
}

.air--header {
  
  margin-bottom: 16px;
}

.air--text {

  margin-top: 0;
}



.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
  background: transparent;
  
  padding: 5px;
  
 
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
 
}

/* ADD */
.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;

}

.card--star {
  height: 11px;
}

/* ADD */
.card--price {
  margin-top: auto;

}



.img-thumbnail{
  
  margin-top: 30px;
}



body{
  background-image: url("./images/bgr6.jpg");
  color: "white"

}

h1, h2, h3, h4, h5, h6,p {
  color: #fefefe;
  }

